@mixin flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin button($padding) {
	width: fit-content;
	padding: $padding;
	&:hover {
		transform: translateY(-2px);
		opacity: 0.9;
	}
}
