// === COLORS ===
$bg-color: #fef3e2;
$yellow: #ffd590;
$pink: #ffc6b1;
$orange: #fa4032;
$red: #fb4141;
$dark-red: #9b0303;
$lbrown: #b13b3b;
$brown: #4b1616;
$black: #1a1212;

// === SHADOW ===
$shadow: 0 0 10px #5f4949;
$card-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

// === BORDER ===
$border: 1px solid #ddd;
$radius: 8px;

// === TRANSITION ===
$transition: all 0.3s ease;
